.page {
    min-width: 320px;
    overflow-x: hidden;
}

.content {
    margin: 20px auto 60px;
}

.header {
    width: 98%;
    height: 54px;
    padding: 0 25px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 0 0 1px gray;
    z-index: 1;
}

.header__logo {
    width: 115px;
}

.header__nav-links {
    color: black;
    width: 40%;
    
}

.header__links {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0;
    font-size: 15px;
    line-height: 19px;
}

.header__link {
    text-decoration: none;
    color: black;
}

.header__buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
    height: 42px;
    
}

.header__search {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    background-color: white;
    border: none;
    box-shadow: 0 0 3px gray; 
    border-radius: 25px;  
    padding: 0 19px 0;
    color: #959595; 
    cursor: pointer;
}

.header__search-img {
    width: 18px;
}


.header__basket {
    width: 42px;
    background-image: url(./images/button__basket.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 3px gray; 
    border-radius: 100%;
    border: none;
    background-color: white;
    cursor: pointer;    
}

.mainscreen {
    width: 98%;
    max-width: 1170px;
    
    height: 650px;
    display: flex;
    position: relative;
}

.mainscreen__text {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainscreen__title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.035em;
}

.mainscreen__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.035em;
    margin: 19px 0 51px;

}

.mainscreen__button {
    width: 225px;
    height: 42px;
    background-color: #4584A6;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.035em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform .4s linear;
    
}

.mainscreen__button:hover {
    transform: scale(1.02);
}

.mainscreen__tables-show {
    display: flex;
        justify-content: center;
        flex-direction: column;
    width: 55%;
    height: 600px;
    border: 1px solid black ;
}

.mainscreen__background {
    position: absolute;
    top: -180px;
    height: 800px;
    right: -800px;
    transform: rotate(-15deg);
    z-index: -1;
}

.cards-about {
    display: grid;
    width: 98%;
    max-width: 1170px;
    height: 230px;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    background-color: #FFFFFF;
}

.cards-about__card {
    border-radius: 15px;
    height: 100%;
    padding: 28px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.cards-about__card_number_one {
    background: #D8DCFF;
}

.cards-about__card_number_two {
    background: #D2FFE7;
}

.cards-about__card_number_three {
    background: #EDF6FB;
}

.cards-about__image {
    width: 47px;
}


.cards-about__title {
    margin: 20px 0 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.035em;
}

.cards-about__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.035em;
}

.about-savarr {
    width: 98%;
    height: 430px;
    max-width: 1170px;
    color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.about-savarr__text {
    width: 45%;
    margin: auto 0;
    
}

.about-savarr__title {
    margin: 0 0 30px;
}

.about-savarr__paragraph {
    margin: 0 0 25px; 
}

.about-savarr__image {
    width: 470px;
    height: 332px;
    margin: auto 0;
}

.about-savarr__background {
    position: absolute;
 
    height: 430px;

    left: -600px;
    bottom: 0;
    z-index: -1;
}

.catalog {
    width: 98%;
    max-width: 1170px;
    
    text-align: center;
    position: relative;
   
    
}

.catalog__title {
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.035em;
}

.catalog__card {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    padding: 27px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform .4s linear;
}

.catalog__card:hover {
    transform: scale(1.03);
}


.catalog__image-box {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.catalog__image {
    width: 100%;
    object-fit: contain;
    height: 100%;
    position: absolute;
    top: 0;
}

.catalog__card-title {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.catalog__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.035em;
}

.catalog__price {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.05em;
}

.catalog__link {
    width: 50px;
    height: 50px;
}

.catalog-grid {
    display: grid;
    gap: 58px;
    grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
}

.catalog__button-more {
    margin-top: 54px;
    width: 272px;
    height: 41px;
    background: #4584A6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.035em;
    cursor: pointer;
    transition: transform .4s linear;
}

.catalog__button-more:hover {
    transform: scale(1.02);
}

.catalog__background {
    position: absolute;
    width: 2000px;
    right: -800px;
    top: 250px;
    z-index: -1;
    transform: rotate(-22deg);
}

.info {
    width: 98%;
    width: 1170px;
    padding-top: 70px;
}

.info__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.035em;
    text-align: center;
}

.info__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}



.info__card {
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: column;
    text-align: center;
    margin-top: 59px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.035em;
}

.info__card:last-child {
    margin: 59px auto;
}

.info__img {
    width: 100px;
}